.row {
  padding: 5px 0;
}

.el-pagination {
  padding: 0;
}

.el-loading-mask.request-loading {
  background-color: rgba(255, 255, 255, .2);
  .el-loading-spinner {
    margin-top: -50px;
    .circular {
      width: 100px;
      height: 100px;
    }
  }
}

.el-breadcrumb {
  padding: 15px 0;
  font-size: 20px;
  border-bottom: 1px solid #dfe6ec;
}